<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Adaptez le serveur : .\SQLEXPRESS, (LocalDB)\MSSQLLocalDB, ou un serveur distant -->
    <add name="GESTOCK"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GESTOCK;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
